.scoreRow {
  height: 50px;
}

.scoreLogo {
  height: 30px;
  width: 30px;
}

.teamRight {
  text-align: left;
}

.teamLeft {
  text-align: right;
}

.divLogo{
  height: 100%
}

.center {
  text-align: center;
}

.winScore {
  color: limegreen;
}
.looseScore {
  color: darkred;
}
.equalScore {
  color: dimgray;
}

.cote {
  vertical-align: middle;
  text-align: center;
}

.cote>h5{
  display: inline-block;
}

.ts-testimonial-date {
  position: absolute;
  bottom: -40px;
  left: 90px;
}

.ts-testimonial-date h3.name {
  font-size: 14px;
  margin: 10px 0 0;
}
