
<h3>Votre profil</h3>
<div class="col-md-10 co-offset-3">
  <form name="form" (ngSubmit)="onUpdateSubmit()" [formGroup]="profileForm">
    <div class="form-group row">
      <label class="col-sm-2">Nom :</label>
      <div class="col-sm-10">
        <label *ngIf="!editing" class="form-control">{{ user.name }}</label>
        <input *ngIf="editing" class="form-control" name="name" formControlName="name" type="text" placeholder="Nom" value="{{user.name}}"  required/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Prénom :</label>
      <div class="col-sm-10">
        <label *ngIf="!editing" class="form-control">{{ user.firstname }}</label>
        <input *ngIf="editing" class="form-control" name="firstname" formControlName="firstname" type="text" placeholder="Prénom" value="{{user.firstname}}" required/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2" >Mail :</label>
      <div class="col-sm-10">
        <label *ngIf="!editing" class="form-control">{{ user.email }}</label>
        <input *ngIf="editing" class="form-control" name="email" formControlName="email" type="email" placeholder="Mail" value="{{user.email}}" required/>
      </div>
    </div>
    <div class="form-group">
      <label (click)="onClickEdit()" class="btn btn-primary">{{ buttonEdit }}</label>
      <button *ngIf="editing" class="btn btn-primary" type="submit">Modifier</button>
    </div>
  </form>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <div *ngIf="succesMsg" class="alert alert-success">{{ succesMsg }}</div>

</div>
