<!-- Slider start -->
<!-- Slider start -->
<section id="home" class="no-padding">

  <div id="main-slide" class="ts-flex-slider">

    <div class="flexSlideshow flexslider">
      <ul class="slides">
        <li>
          <div class="overlay2">
            <img class="" src="../../../app/public/images/slider/bg1.jpg" alt="slider">
          </div>
          <div class="flex-caption slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated2">
                Bienvenue sur DailyPronos !
              </h2>
              <h3 class="animated3">
                Le conseil complet du pari sportif
              </h3>
              <p class="animated4"><a href="#" class="slider btn btn-primary white">Check Now</a></p>
            </div>
          </div>
        </li>
        <li>
          <div class="overlay2">
            <img class="" src="../../../app/public/images/slider/bg2.jpg" alt="slider">
          </div>
          <div class="flex-caption slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated4">
                Les plus grands matchs sont ici
              </h2>
              <h3 class="animated5">
                Pour parier sans limites
              </h3>
              <p class="animated6"><a href="#" class="slider btn btn-primary white">Buy Now</a></p>
            </div>
          </div>
        </li>
        <li>
          <div class="overlay2">
            <img class="" src="../../../app/public/images/slider/bg3.jpg" alt="slider">
          </div>
          <div class="flex-caption slider-content">
            <div class="col-md-12 text-center">
              <h2 class="animated7">
                Un abonnement mensuel
              </h2>
              <h3 class="animated8">
                Pour profiter de nos conseils jours après jours
              </h3>
              <div class="">
                <a class="animated4 slider btn btn-primary btn-min-block white" href="#">Get Now</a><a class="animated4 slider btn btn-primary btn-min-block solid" href="#">Live Demo</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div><!--/ Main slider end -->
</section> <!--/ Slider end -->

<!-- Service box start -->
<section id="service" class="service angle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading">
        <span class="title-icon pull-left"><i class="fa fa-cogs"></i></span>
        <h2 class="title">Service que nous proposons <span class="title-desc">Une qualitée sans égale</span></h2>
      </div>
    </div><!-- Title row end -->

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".5s">
          <div class="service-content text-center">
            <span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>
            <h3>Tableau de bord</h3>
            <p>Vous pouvez voir au jour le jour les paris que nous proposons</p>
          </div>
        </div><!--/ End first service -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".8s" >
          <div class="service-content text-center">
            <span class="service-icon icon-pentagon"><i class="fa fa-android"></i></span>
            <h3>Attesté fiable à 70%</h3>
            <p>Vous avez plus de chance de gagner que de perdre.</p>
          </div>

        </div><!--/ End Second service -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.1s">
          <div class="service-content text-center">
            <span class="service-icon icon-pentagon"><i class="fa fa-shopping-cart"></i></span>
            <h3>Paiement en ligne</h3>
            <p>Via un abonnement mensuelle, sécurisé et fiable</p>
          </div>
        </div><!--/ End Third service -->

        <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="1.4s">
          <div class="service-content text-center">
            <span class="service-icon icon-pentagon"><i class="fa fa-lightbulb-o"></i></span>
            <h3>Des bières</h3>
            <p>Car pour un site de connard, rien ne vaut quelques bières</p>
          </div>
        </div><!--/ End 4th service -->
      </div>
    </div><!-- Content row end -->
  </div><!--/ Container end -->
</section><!--/ Service box end -->


{{usermail}}
